@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: "Poppins", sans-serif;
}


:root {
    --bg-color: #081b29;
    --main-color: #00abf0;
    --text-color: #333;
    --second-text-color: #555;
    --white-color: #fff;
    --cover-color: linear-gradient(to top, rgb(153, 112, 218) 0%, #f99ab8 100%);
    --pages-color: linear-gradient(90deg, #fff, #ddd);
    --border: .125rem solid #00abf0;
    --box-shadow: 0 0 .6rem rgba(0, 0, 0, .2);
}


body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: var(--bg-color);
    color: var(--text-color);
    overflow: hidden;
}

.wrapper {
    position: relative;
    width: 66rem;
    height: 45rem;
    padding: 2rem;
    animation: show-animate 2s forwards;
    perspective: 250rem;
}

@keyframes show-animate{
    0%, 30% {
        opacity: 0%;
        transform: rotate(-20deg)
    }

    100%{
        opacity: 1;
        transform: rotate(0deg);
    }
}

.cover {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 50%;
    height: 100%;
    background: var(--cover-color);
    box-shadow: var(--box-shadow);
    border-top-left-radius: .6rem;
    border-bottom-right-radius: .6rem;
    transform-origin: right;
    left: 0;
}

.bg {
    animation: slide 3s ease-in-out infinite alternate;
    background-image: linear-gradient(-60deg, #6c3 50%, #09f 50%);
    bottom: 0;
    left: -50%;
    opacity: .5;
    position: fixed;
    right: -50%;
    top: 0;
}

.bg2 {
    animation-direction: alternate-reverse;
    animation-duration: 4s;
}

.bg3 {
    animation-duration: 5s;
}


@keyframes slide {
    0% {
        transform: translateX(-25%);
    }

    100% {
        transform: translateX(25%);
    }
}

.contenth {
    position: relative;
    margin: 10px 20px 35px;
}

.contenth h3 {
    color: #fff;
    position: absolute;
    transform: translate(-50%, -50%);
}

.contenth h3:nth-child(1) {
    color: transparent;
    -webkit-text-stroke: 1px #03a9f4;
}

.contenth h3:nth-child(2) {
    color: #03a9f4;
    animation: animates 4s ease-in-out infinite;
}

@keyframes animates {

    0%,
    100% {
        clip-path: polygon(0% 45%,
                16% 44%,
                33% 50%,
                54% 60%,
                70% 61%,
                84% 59%,
                100% 52%,
                100% 100%,
                0% 100%);
    }

    50% {
        clip-path: polygon(0% 60%,
                15% 65%,
                34% 66%,
                51% 62%,
                67% 50%,
                84% 45%,
                100% 46%,
                100% 100%,
                0% 100%);
    }
}

.name {
    position: relative;
    display: flex;
}

.check {
    list-style: none;
}

input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 25px;
    width: 25px;
    z-index: 12;
}

.edit {
    position: relative;
    height: 25px;
    width: 25px;
    background: rgb(33, 181, 255);
    color: #555;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    cursor: pointer;
    margin: 0 2px;
    border-radius: 5px;
    box-shadow: -1px -1px 4px rgba(255, 255, 255, 0.05),
        4px 4px 6px rgba(0, 0, 0, 0.2),
        inset -1px -1px 4px rgba(255, 255, 255, 0.05),
        inset 1px 1px 1px rgba(0, 0, 0, 0.1);
}

input[type="checkbox"]:checked~div {
    box-shadow: inset 0 0 2px rgba(255, 255, 255, 0.05),
        inset 4px 4px 6px rgba(0, 0, 0, 0.2);
    color: yellow;
    text-shadow: 0 0 15px yellow, 0 0 25px yellow;
    animation: glow 1.5s linear infinite;
}

@keyframes glow {
    0% {
        filter: hue-rotate(0deg);
    }

    100% {
        filter: hue-rotate(360deg);
    }
}

.cover.cover-left {
    z-index: -1;
}

.cover.cover-right {
    z-index: 100;
    transition: transform 1s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.cover.cover-right.turn {
    transform: rotateY(180deg);
}

.book-page.page-left {
    box-shadow: -.6rem .6rem .6rem rgba(0, 0, 0, .1);
}

.book {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    perspective: 250rem;
}

.book .book-page {
    position: absolute;
    width: 50%;
    height: 100%;
    background: var(--pages-color);
    box-shadow: 0 0 .6rem rgba(0, 0, 0, .1);
    display: flex;
    padding: 2rem;
    margin-left: 0rem;
}

.profile-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: .8rem;
    box-sizing: border-box;
    overflow: hidden;
}

.profile-page img {
    max-width: 100px;
    height: auto;
    border-radius: 50%;
    border: .25rem solid black;
    margin-bottom: .8rem;
}

.floating {
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    margin-left: 30px;
    margin-top: 5px;
}

@keyframes floating {
    from {
        transform: translate(0, 0px);
    }

    65% {
        transform: translate(0, 10px);
    }

    to {
        transform: translate(0, -0px);
    }
}

.profile-page h1 {
    font-size: 2.3rem;
    line-height: 1;
}

.profile-page h3 {
    font-size: 1.5rem;
    color: var(--main-color);
}

.profile-page .social-media {
    margin-bottom: 1rem;
}

.profile-page .social-media a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 2.5rem;
    height: 2.5rem;
    background: transparent;
    border: var(--border);
    border-radius: 50%;
    font-size: 1.3rem;
    color: var(--main-color);
    margin: 0 .2rem;
    transition: .5s;
}

.profile-page .social-media a:hover {
    background: var(--main-color);
    color: var(--white-color);
}

.profile-page p {
    text-align: justify;
    font-size: 0.9rem;
}

.profile-page .btn-box {
    margin-top: 1.2rem;
}

.btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 9.5rem;
    height: 3rem;
    background: var(--main-color);
    border: var(--border);
    border-radius: .3rem;
    font-size: 1rem;
    color: var(--white-color);
    font-weight: 500;
    margin: 0 1rem;
    transition: .5s;
}

.btn:hover {
    background: transparent;
    color: var(--main-color);
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
}

.btn-box .btn:nth-child(2) {
    background: transparent;
    color: var(--main-color);
}

.btn-box .btn:nth-child(2):hover {
    background: var(--main-color);
    color: var(--white-color);
}

.book-page.page-right {
    position: absolute;
    right: 0;
    /* align-items: center; */
    transform-style: preserve-3d;
    transform-origin: left;
    transition: transform 1s cubic-bezier(.645, .045, .355, 1);
}

.book-page.page-right.turn {
    transform: rotateY(-180deg);
}

.title {
    margin-bottom: 20px;
}

.year {
    margin-bottom: 20px;
}

h3 {
    margin-top: 20px;
    margin-bottom: 20px;
}

.workeduc-content p {
    margin-bottom: 5px;
    line-height: 2;
}

.bullet-point {
    display: block;
    margin-bottom: 0px;
    text-align: justify;
}

.book-page .page-front,
.book-page .page-back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--pages-color);
    padding: 1.5rem 2rem;
}

.book-page .page-front {
    transform: rotateY(0deg) translateZ(1px);
}

.book-page .page-back {
    transform: rotateY(180deg) translateZ(1px);
}

.title {
    text-align: center;
    margin-bottom: 1rem;

}

.workeduc-box {
    /* margin: 0 3rem 1.2rem 3rem; */
    border-left: var(--border);
}

.workeduc-box .workeduc-content {
    position: relative;
    padding-left: 1.6rem;
    margin-bottom: 1.2rem;
    margin-top: 1.2rem;
}

.workeduc-box .workeduc-content::before {
    content: '';
    position: absolute;
    top: 0;
    left: -0.65rem;
    width: 1.2rem;
    height: 1.2rem;
    background: var(--main-color);
    border-radius: 50%;
}

.workeduc-box .workeduc-content:hover:before {
    background-color: red;
    box-shadow: 0px 0px 10px 2px rgb(255, 143, 143);
}

.workeduc-content .year {
    color: var(--main-color);
}

.workeduc-content .year i {
    margin-right: .4rem;
}

.number-page {
    margin-top: 200px;
    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
}

.nextprev-btn {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    width: 2rem;
    height: 2rem;
    cursor: pointer;
    font-size: 2rem;
    color: var(--second-text-color);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    transition: .5s;
}

.nextprev-btn:hover {
    color: var(--main-color);
}

.nextprev-btn.page-back {
    left: 1 .5rem;
}


.nextprev-btn:hover {
    color: var(--main-color);
}

.nextprev-btn.page-back {
    left: 1 .5rem;
}

.nextprev-btn.back {
    left: 1.5rem;
}

.workeduc-content2 p {
    margin-bottom: 1.5px;
    line-height: 0.8;
}

.workeduc-box2 {
    margin: 0 3rem 1.2rem 3rem;
    border-left: var(--border);
}

.workeduc-box2 .workeduc-content2 {
    position: relative;
    padding-left: 1.6rem;
    margin-bottom: 1.2rem;
    margin-top: 1.2rem;
}

.workeduc-box2 .workeduc-content2::before {
    content: '';
    position: absolute;
    top: 0;
    left: -0.65rem;
    width: 1.2rem;
    height: 1.2rem;
    background: var(--main-color);
    border-radius: 50%;
}

.workeduc-content2 .year {
    color: var(--main-color);
}

.workeduc-content2 .year i {
    margin-right: .4rem;
}

.services-box {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.services-box .services-content {
    border: var(--border);
    box-shadow: var(--box-shadow);
    border-radius: .7rem;
    flex: 1 1 10rem;
    padding: .8rem .5rem 1.1rem;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.services-content:hover {
    transform: translateY(-10px);
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
}

.services-content i {
    font-size: 1.2rem;
    color: var(--main-color);
}

.services-content h3 {
    font-size: 0.9rem;
    color: var(--text-color);
}

.services-content p {
    margin: .1rem 0 .2rem;
    font-size: 0.8rem;
    color: var(--secont-text-color);
}

.skills-box {
    display: flex;
    /* justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
    margin-top: 1rem; */
    flex-wrap: wrap;
    gap: 1.5rem;
}

.skills-box .skills-content {
    /* display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    width: 100%;
    max-width: 800px; */
    flex: 1 1 20rem;
}

.skills-content .content {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: center; */
    gap: .8rem;
    /* width: 100%;
    max-width: 800px; */
}

.skills-content .content span {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 0.6rem;
    width: 6rem;
    height: 5rem;
    border: var(--border);
    border-radius: .3rem;
    font-weight: 600;
    transition: .3s ease-in-out;
}

.skills-content .content span:hover {
    box-shadow: var(--box-shadow);
}

.skills-content .content span i {
    font-size: 3rem;
    color: var(--main-color);
}

.page-front {
    padding: 2rem;
}

.title {
    display: inline-block;
    position: relative;
    color: #0087ca;
    text-align: center;
}

.title::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #0087ca;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.title:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.section {
    margin-bottom: 1rem;
}

.section-title {
    font-size: 1.5rem;
    color: black;
    text-align: center;
    margin-bottom: 1.5rem;
    position: relative;
    font-family: sans-serif;
    text-transform: uppercase;
    font-size: 2em;
    letter-spacing: 4px;
    overflow: hidden;
    background: linear-gradient(90deg, #000, #fff, #000);
    background-repeat: no-repeat;
    background-size: 80%;
    animation: animate 5s linear infinite;
    background-clip: text;
    -webkit-text-fill-color: rgba(255, 255, 255, 0);
}

@keyframes animate {
    0% {
        background-position: -500%;
    }

    100% {
        background-position: 500%;
    }
}

.section-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
}

.project,
.achievement {
    padding: 0rem 0.5rem 0.7rem 5rem;
    border-radius: .5rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border-style: solid;
    border-color: saddlebrown;
    background: 50% 100% / 50% 50% no-repeat;
    animation: reveal 3000ms ease-in-out forwards 200ms,
        glow 2500ms linear infinite 2000ms;

    @keyframes glow {
        40% {
            text-shadow: 0 0 8px #fff;
        }
    }
}

/* .project,
.achievement {
    background-color: var(--white-color);
    padding: 0rem 0.5rem 0.7rem 5rem;
    border-radius: .5rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border-style: solid;
    border-color: saddlebrown;
} */

.project:hover,
.achievement:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}

.project h3,
.achievement h3 {
    font-size: 1rem;
    /* margin-bottom: 0rem; */
    color: var(--text-color);
    text-align: left;
    margin-left: -4rem;
    /* padding: -1rem; */
}

/* .project p,
.achievement p {
    font-size: 0.5rem;
    color: var(--second-text-color);
    line-height: 1;
} */


/* @media (max-width: 768px) {
    .section-content {
        grid-template-columns: 0.5fr;
    }
} */

.contact-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 2rem;
}

.contact-content {
    text-align: center;
    margin-bottom: 2rem;
}

.contact-content h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.contact-content p {
    font-size: 1.1rem;
    color: #666;
}

.contact-form-container {
    text-align: center;
}

.contact-form {
    display: grid;
    gap: 1rem;
}

.input-group {
    position: relative;
}

.input-group input,
.input-group textarea {
    width: 100%;
    padding: 1rem;
    font-size: 1rem;
    border: 1px solid #ddd;
    border-radius: 0.5rem;
    transition: border-color 0.3s ease;
    resize: none;
}

.input-group input:focus,
.input-group textarea:focus {
    border-color: #5f27cd;
    outline: none;
}

.input-group textarea {
    height: 225px;
}

.contact-container .btn {
    margin-left: 32%;
    cursor: pointer;
}

button[type="submit"] {
    display: block;
    width: 100%;
    padding: 1rem;
    font-size: 1.2rem;
    color: #fff;
    background-color: var(--main-color);
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #341f97;
}

.back-profile {
    position: absolute;
    bottom: 1.2rem;
    right: 2rem;
    width: 2rem;
    height: 2rem;
    background: transparent;
    border: var(--border);
    border-radius: .3rem;
    font-size: 1.1rem;
    color: var(--main-color);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    transition: .5s;
}

.back-profile p {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%) scale(.5);
    font-size: 1rem;
    color: var(--main-color);
    opacity: 0;
    transition: .5s;
}

.back-profile:hover {
    background: var(--main-color);
    color: var(--white-color);
}

.back-profile:hover p {
    opacity: 1;
    transform: translateX(-50%) scale(1);
    top: -1.8rem
}